/*keyframes：アニメーションの最初から最後まで、動きや効果を設定。*/
/*opacity：透明度を調節*/
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/*-webkit-：ベンダープリフィックス（chromeとsafariで支援するように）*/
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/*作成した@keyframesを活用するために、animation属性を使う*/
/*animation-属性：アニメーションの時間、回数を設定*/
.fadeIn{
    animation: fadeIn;
    animation-duration: 0.5s;
}

.fadeOut{
    animation: fadeOut;
    animation-duration: 0.5s;
}